.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headre {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
}
.Label {
text-align: left;
}

.form-control {
  margin-top: 8px;
  margin-bottom: 16px;
}
.table {
  border: 1px 1px 0px 0px solid;
}

